{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1><i class="fa fa-upload"></i> Upload Excel File {{ session.username }}</h1>
  <!--<form class="form-inline" role="form" action="/checkout_excel/" method="POST" enctype="multipart/form-data">-->

    <!--<div class="form-group">-->
      <!--<label class="sr-only" for="inputfile">File input</label>-->
      <!--<input type="file" id="inputfile">-->

    <!--</div>-->
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->

  <!--</form>-->


<form class="form-inline" method=POST enctype=multipart/form-data action="{{ url_for('user.checkout_excel') }}">
<fieldset>

<!-- Form Name -->
<legend>Spreadsheet Submission</legend>

<!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="spreadsheet"></label>
  <div class="col-md-4">
    <input id="spreadsheet" name="spreadsheet" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitbutton"></label>
  <div class="col-md-4">
    <button id="submitbutton" name="submitbutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>



</div><!-- /.jumbotron -->

<div class="body-content">

</div>
{% endblock %}